.list{
    font-weight: 500;
   font-size: 20px;
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
   list-style: none;
   padding: 0px 20px;
}
nav {
    background-color: #0398FC;
}
body {
    text-align: center;
}
#votingguide {
    text-align: center;
}
h1,h2 {
    background-color: #0398FC;
}

