h1{
    text-align: center;
}   
.list{
     font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}
.date{
    text-align: center;}

.row{
        padding-top: 10px;
        padding-bottom: 65px;
    }
.column{
        float: left;
        width: 18%;
        margin-bottom: 16px;
        padding:0 8px;
    }
    @media screen and (max-width:650px){
        .column{
            width: 100%;
            display: table;
        }
    }
    .content{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .container{
        padding: 0 16px;
        text-align: center;
    }
    .container::after,.row::after,.rowp::after{
        content: "";
        clear: both;
        display: table;
    }
    


